#main-content{
	margin-top: 30px;
}

#main-banner{
	height: 200px;
	background: url('/assets/plugins/nivo-slider/demo/images/banner.jpg') repeat-x scroll 0 0 #eeeeee;
}

.tab-pane > form{
	margin-top: 10px;
}

#footer{
	padding-bottom: 20px;
}

/* hide some text */
@media (max-width: 768px) {
	#main-banner{
		background-image: none;
		height: auto;
	}
	#main-banner br{
		display:none;
	}
}

@media (max-width: 992px) {
	
}

@media (max-width: 1200px) {
}