hr{
	margin: 8px 0;
}

#main-content{
	margin-top: 0px;
}

.tab-pane > form{
	margin-top: 10px;
}

#footer{
	padding-bottom: 8px;
}

@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 800px) {}

@media (max-width: 768px) {
	.slider-wrapper {width: 100%;}
	#main-banner{
		background-image: none;
		height: auto;
	}
	#main-banner br{
		display:none;
	}
}

@media (max-width: 700px) {
	#custom-navbar-brand{
		font-size: 14px;
	}
}

@media (max-width: 640px) {
	#custom-navbar-brand{
		font-size: 13px;
	}
}

@media (max-width: 480px) {
	#custom-navbar-brand{
		font-size: 12px;
	}
}

@media (min-width: 480px) {}
@media (min-width: 640px) {}
@media (min-width: 650px) {
	.slider-wrapper {width: 100%;}
}
@media (min-width: 767px) {
	.slider-wrapper {
		margin: 0 auto;
		width: 530px;
	}
}
@media (min-width: 1200px) {
	.slider-wrapper {
		margin: 0 auto;
		width: 580px;
	}
}